html,
body {
  transition: all 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root{
  --font: Colgent, serif;
  --scrolled_nav_background_color: #073238;
  --scrolled_nav_background_color_77_o:#073238c4;
  margin: 0;
  padding: 0;
  --primary: #f1f1f1;
  --primary_77_o:#f1f1f1c4;
  --secondary: #A8DADC;
  --secondary_77_o:#18b6d7c4;
  --tertiary: #F1C539;
  --tertiary_77_o: #F1C539c4;
}

