.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Colgent, serif;
    background-color: transparent;
    color: #f1f1f1;
    /* height: 10vh; */
    /* border-bottom: 2px solid #606060; */
    width: 800px;
    z-index: 50;
    transition: all 0.6s;
}

.logo{
    padding-top: 0.5vh;
   height: 14vh;
   transition: all 0.4s;
}

.logo:visited{
    color: var(--secondary);
    transition: all 0.4s;
}
.logo:hover{
    transition: all 0.4s;
    transform: scale(1.04);
    cursor: pointer;
}


.logo_scrolled{
    transition: all 0.4s;
    height: 8vh;
}

.logo_scrolled:visited{
    color: var(--secondary);
    transition: all 0.4s;
}
.logo_scrolled:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.4s;
}

.link{
    text-decoration: none;
    color: var(--primary);
    font-size: 0.9rem;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.4s;    
}

.link:hover{
    transform: scale(1.05);
    transition: transform 400ms;
    cursor: pointer;
    color: var(--tertiary);
    transition: all 0.4s;

}


.link:visited{
    color: var(--primary);
    transition: all 0.4s;
}

.link_scrolled{
    text-decoration: none;
    color: var(--primary);
    font-size: 0.7rem;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.4s;    
}

.link_scrolled:hover{
    transform: scale(1.08);
    transition: transform 400ms;
    cursor: pointer;
    color: var(--tertiary);
    transition: all 0.4s;
}


.link_scrolled:visited{
    color: var(--primary);
    transition: all 0.4s;
}



.navBar_container{
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    top: 0;
    z-index: 50;
    /* background-color: var(--scrolled_nav_background_color_77_o); */
    transition: all 0.4s;
    margin: 0px;
}

.navBar_container_scrolled{
    background-color: var(--scrolled_nav_background_color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    top: 0;
    z-index: 50;
    transition: all 0.4s;
    margin: 0px;
    
}


.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: none;
    
}

.nav_menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

 @media screen and (max-width: 900px) {
    .hamburger{    
        display: block; }
        
        .bar1{
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: var(--primary);
        }
        


    .hamburger_active{    
    display: block; }

.haburger_active .bar:nth-child(2){
    opacity: 0;
}

.haburger_active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg)
}

.haburger_active .bar:nth-child(1){
    transform: translateY(-8px) rotate(-45deg)
}

.nav_menu{
    position: fixed;
    left: 50%;
    top: 20vh;
    gap: 0;
    flex-direction: column;
    background-color: var(--scrolled_nav_background_color);
    width: 50%;
    text-align: center;
    transition: 0.3s;
}

.link{
    margin: 16px 0;
}

.nav_menu_active{
    left:0;
}



}



/* @media screen and (max-width: 1000px) {
    .link{    
font-size: 0.7rem;    }

} */