.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bitter', serif;
    background-color: #F6F6F6;
    color: #606060;
    /* height: 10vh; */
    /* border-bottom: 2px solid #606060; */
    width: 90vw;
}

.logo{
    display: flex;
    align-items: baseline;
    margin: 0;
    text-decoration: none;
}

.logo:visited{
    color: var(--secondary);
}
.logo:hover{
    transform: scale(1.02);
    transition: transform 400ms;
    cursor: pointer;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}
.link:hover{
    transform: scale(1.05);
    transition: transform 400ms;
    cursor: pointer;

}

.link{
    margin: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    color: var(--secondary);
    font-size: 1.5rem;
    font-weight: 300;
}
.link:visited{
    color: var(--secondary);
}

.h1{
    font-size: 3.2rem;
    font-weight: 100;
    align-items: center;
    margin: 0;
    margin-right: 0.5rem;
    text-decoration: none;
}
.h1:visited{
    color: var(--secondary);
}



.h2{
    font-size: 2.3rem;
    font-weight: 100;
    align-items: center;
    margin: 0;
    text-decoration: none;

}
.h2:visited{
    color: var(--secondary);
}


.navBar_container{
    padding-top: 0.5rem;
    background-color: #F6F6F6;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    top: 0;
    z-index: 6;
}