.page_container{
    margin: 0px;
}

.main_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(----scrolled_nav_background_color);
}

.desc_faq_con{
    width: 755px;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 25px;
    padding-bottom: 60px;
}

.desc_title{
    font-family: var(--font);
    font-weight: 400;
    font-size: 3rem;
    margin: 0px;
    color: var(----scrolled_nav_background_color);

}

.desc{
    font-size: 0.9rem
}

.book_con{
    width: 755px;
    padding-top: 140px;
    padding-left: 25px;
    padding-right: 100px;
    padding-bottom: 60px;
}