.carousel_container{
    width: 100vw;
    height: 70vh;
    background-color: var(--scrolled_nav_background_color);
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 22%;
    overflow-y: auto; 
    overflow-x: auto;
    overscroll-behavior-inline: contain; 
    align-items: center;
    
}



@media screen and (max-width: 1200px) {
    .carousel_container{    
        grid-auto-columns: 25%;
    }

}

@media screen and (max-width: 1000px) {
    .carousel_container{    
        grid-auto-columns: 30%;
    }

}