.carousel_container{
    width: 100vw;
    height: 70vh;
    background-color: var(--scrolled_nav_background_color);
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    overflow-y: auto; 
    overflow-x: auto;
    overscroll-behavior-inline: contain; 
    align-items: center;
    
}



